{% extends "./base.html.twig" %}
{% block title %}{{ movie.title }}{% endblock %}
{% block body %}
	<div class="sm:w-3/5 w-4/5 mx-auto">
	
		<h1 class="pt-20 sm:text-5xl md:text-7xl text-4xl font-bold text-center">
			{{ movie.title }}
		</h1>

		<div class="p-8 text-center">
			<div class="inline-block sm:pt-1">
				<h2 class="font-bold">
					Published by: {{ movie.getReviwer().getUsername() }}
				</h2>

				<p class="text-sm text-gray-600">
					{{ movie.getPublishDate()|date('d.m.Y') }}
				</p>
			</div>

			{% if app.user and 'ROLE_ADMIN' in app.user.getRoles() %}
			<div class="mt-8 block">
			<a href="/movie/edit/{{ movie.id }}" class="bg-green-700 text-white font-bold py-2 px-4 rounded transition-all hover:bg-green-800">
				Edit review
			</a>

			<a href="/movie/delete/{{ movie.id }}" class="bg-red-700 font-bold py-2 px-4 ml-6 rounded transition-all hover:bg-red-800 text-white">
				Delete review
			</a>
			</div>
			{% endif %}
		</div>

		<img src="{{ movie.imagePath }}" class="rounded-xl w-xl shadow-xl mx-auto" alt="Image of the movie"/>

        <div class="flex justify-between mt-8 w-xl mx-auto">
			<div>
				<span>MovieRewinder rating 
				{% if movie.rating == 5  %}
					<span class="bg-red-800 text-white font-bold py-1 px-2 rounded mt-2 text-sm ml-1">
				{% elseif movie.rating == 6  %}
					<span class="bg-orange-600 text-white font-bold py-1 px-2 rounded mt-2 text-sm ml-1">
				{% elseif movie.rating == 7  %}
					<span class="bg-green-600 text-white font-bold py-1 px-2 rounded mt-2 text-sm ml-1">
				{% elseif movie.rating == 8  %}
					<span class="bg-green-700 text-white font-bold py-1 px-2 rounded mt-2 text-sm ml-1">
				{% elseif movie.rating >= 7  %}
					<span class="bg-green-800 text-white font-bold py-1 px-2 rounded mt-2 text-sm ml-1">
				{% endif %}
						{{ movie.rating }}
					</span>
				</span>
			</div>

			<div>
				Release date <span class="ml-1 bg-cyan-800 text-white font-bold py-1 px-2 rounded mt-2 text-sm">{{ movie.releaseYear }}</span>
			</div>

			<div>
				Review likes <span class="ml-1 bg-cyan-800 text-white font-bold py-1 px-2 rounded mt-2 text-sm"> {{ movie.reviewlikes|length }}</span>
			</div>
		</div>

		<div class="text-xl py-6 text-justify mt-8 border-y border-gray-300">
			{% if app.user %}
				{% set likedReviews = app.user.reviewlikes %}
			{% else %}
				{% set likedReviews = [] %}
			{% endif %}
			
			{% set userLiked = likedReviews|filter(review => review.user == app.user)|length > 0 %}
			{% set likeId = userLiked ? likedReviews|filter(review => review.user == app.user)|first.id : null %}
			
			{% if userLiked %}
				<a href="/movie/unlike/{{ likeId }}" class="ml-1 bg-gray-400 hover:bg-cyan-900 text-white font-bold py-1 px-2 rounded text-sm inline-block mb-4">Unlike this review</a>
			{% else %}
				<a href="/movie/like/{{ movie.id }}" class="ml-1 bg-cyan-800 hover:bg-cyan-900 text-white font-bold py-1 px-2 rounded text-sm inline-block mb-4">Like this review</a>
			{% endif %}
			
			<p>{{ movie.description }}</p>
		</div>


		<section class="mt-4">
			<div class="my-8">
				{% if app.user %}
					{{ form_start(commentForm) }}
					{{ form_row(commentForm.content) }}
						<button type="submit" class="bg-cyan-800 hover:bg-cyan-900 text-white font-bold py-2 px-4 rounded mt-2 mr-auto">
							Post
						</button>
					{{ form_end(commentForm) }}
				{% else %}
					<p class="text-orange-500 text-center"><a href="/login" class="text-cyan-800">Login</a> to post comments or upvote them.</p>
				{% endif %}
			</div>

			<h2>Comments ({{ movie.comments|length }})</h2>
			{% for comment in pagination %}
				<div class="w-full flex justify-between items-center">
					<div class="">
						<div class="mt-4">
							<p>{{ comment[0].content }}</p>
							<p class="text-gray-400 mt-1">Posted by: {{ comment[0].user.username }} {{ comment[0].getCreatedAt()|date('d.m.Y H:i:s') }}</p>
						</div>
					{% set userUpvoted = false %}
					{% for vote in app.user.commentvotes %}
						{% if vote.comment.id == comment[0].id %}
							{% set userUpvoted = true %}
						{% endif %}
					{% endfor %}
					<div class="flex">
					{% if userUpvoted %}
    <p class="bg-gray-400 text-white font-bold py-1 px-2 rounded mt-2 text-sm mr-2">Upvoted</p>
{% elseif not (app.user == comment[0].user) %}
    <form action="{{ path('comment_upvote', {id: comment[0].id}) }}" method="POST">
        <button type="submit" class="bg-cyan-800 hover:bg-cyan-900 text-white font-bold py-1 px-2 rounded mt-2  text-sm mr-2">Upvote</button>
    </form>
{% endif %}

{% if app.user == comment[0].user %}
    <a href="{{ path('comment_delete', {'id': comment[0].id}) }}" class="bg-red-800 hover:bg-red-900 text-white font-bold py-1 px-2 rounded mt-2 mr-auto text-sm">Delete</a>
{% endif %}
					</div>
					</div>

					<div>
						<span class="bg-cyan-800 hover:bg-cyan-900 text-white font-bold py-1 px-2 rounded mt-2 text-sm">{{ comment['upvoteCount'] }}</span>
					</div>
				</div>
					{% endfor %}

				<div class="mt-6">
				{{ knp_pagination_render(pagination) }}
			</div>
		</section>

	</div>
{% endblock %}
